$bp-320:320px;
$bp-352:352px;
$bp-384:384px;
$bp-smlr:480px; // smaller screens
$bp-540:540px;
$bp-640:640px;
$bp-sml:660px; // small screens
$bp-medr:700px; // medr screens
$bp-768:768px;
$bp-800:800px;
$bp-854:854px;
$bp-med:915px; // med screen
$bp-lrg:990px; // large screen
$bp-1024:1024px;
$bp-1152:1152px;
$bp-1280:1280px;
$bp-1366:1366px;
$bp-1400:1400px;
$bp-1600:1600px;
$bp-1680:1680px;
$bp-1920:1920px;
