@import "variables";
@import "mixins";
// MIXINS & @IMPORTS
// --------------------------------------------------
@mixin line-break($break) { display: $break; }

.group {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
// --------------------------------------------------
